**구명보트**

In [55]:
def solution(people, limit):
    answer = 0

    people.sort() # 오름차순 정렬

    left_idx = 0
    right_idx = len(people)-1

    while left_idx < right_idx: # idx 순서가 유지되는 동안에만 작동
        if people[left_idx] + people[right_idx] > limit: # 최소 + 최대 > 제한, 최대만 보냄
            right_idx -= 1
            answer += 1
        else: # 최소 + 최대 <= 제한, 같이 보냄
            left_idx += 1
            right_idx -= 1
            answer += 1

    if left_idx == right_idx: # 이 경우는 배에 한명만 태워서 보내는 경우임.
        answer += 1

    return answer

In [56]:
solution([70, 50, 80, 50], 100)

3

In [57]:
solution([70, 80, 50], 100)

3

**짝지어 제거하기**

In [59]:
def solution(s):
    answer = -1

    check_l = list() # 빈 리스트 생성
    for alpha in s:
        check_l.append(alpha) # 각 요소들을 리스트에 담고
        if len(check_l) > 1 and check_l[-1] == check_l[-2]: # 맨 뒤 두개가 같으면 pop(like stack)
            check_l.pop()
            check_l.pop()

    if len(check_l) == 0: # 다 비워지면 1, 아니면 0으로 처리
        answer = 1
    else:
        answer = 0

    return answer

In [60]:
solution('baabaa')

1

In [62]:
solution('cdcd')

0